@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Permanent+Marker&display=swap');
* {
   box-sizing: border-box !important;
   scroll-behavior: smooth;
}

body {
   font-family: 'Architects Daughter', cursive;
}

header {
   font-family: 'Permanent Marker', cursive;
}

.squares {
   box-sizing: border-box;
   font-size: 5em;
}

.square {
   height: 10rem;
   width: 10rem;
}

.players {
   padding-left: 5rem;
   padding-right: 5rem;
}

@media screen and (max-width: 532px) {
   .square {
      height: 9rem;
   }
   .players {
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

.card {
   min-width: 130px;
   width: max-content;
}

.card .card-header {
   font-size: large;
}

.buttons {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
   
}

.buttons button {
   display: block;
   margin: 10px 5px 0 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: -1px -1px 10px rgb(165, 162, 162);
    border-radius: 5px 0 0 5px;
 }
 
 .footer a {
    font-weight: bolder;
    text-decoration: none;
 }