* {
   box-sizing: border-box !important;
   scroll-behavior: smooth;
}

.squares {
   box-sizing: border-box;
   font-size: 5em;
}

.square {
   height: 10rem;
   width: 10rem;
}

@media screen and (max-width: 532px) {
   .square {
      height: 9rem;
   }
}

.buttons {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
   
}

.buttons button {
   display: block;
   margin: 10px 5px 0 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 25px;
    background: #FFFFFF;
    box-shadow: -1px -1px 10px rgb(165, 162, 162);
    border-radius: 5px 0 0 5px;
 }
 
 .footer a {
    font-weight: bolder;
    text-decoration: none;
 }